nav {
  font-family: Bebas;
  display: flex;
  justify-content: space-between;
  max-width: 95vw;
  padding: 0 5vw;
  box-sizing: border-box;
  align-items: center;
  background: linear-gradient(
    rgba(128, 128, 128, 0.164),
    rgba(255, 255, 255, 0.096),
    rgba(128, 128, 128, 0.007)
  );
  border-radius: 40px;
}
nav h1 {
  text-shadow: 10px 5px 20px grey;
}
ul {
  list-style-type: none;
  display: flex;
  gap: 30px;
  font-size: 16pt;
}
